* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* ヘッダー */
#header{
  width: 100%;
  position: fixed;
  position: relative;
}
#header img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  position: absolute;
  /* top: -100px; */
}
#header .title{
  position: absolute;
  font-size: 3rem;
  top: 360px;
  left: 5%;
  letter-spacing: 10px;
}